/* :root {
  --r-background-color: #{$backgroundColor};
  --r-main-font: #{$mainFont};
  --r-main-font-size: #{$mainFontSize};
  --r-main-color: #{$mainColor};
  --r-block-margin: #{$blockMargin};
  --r-heading-margin: #{$headingMargin};
  --r-heading-font: #{$headingFont};
  --r-heading-color: #{$headingColor};
  --r-heading-line-height: #{$headingLineHeight};
  --r-heading-letter-spacing: #{$headingLetterSpacing};
  --r-heading-text-transform: #{$headingTextTransform};
  --r-heading-text-shadow: #{$headingTextShadow};
  --r-heading-font-weight: #{$headingFontWeight};
  --r-heading1-text-shadow: #{$heading1TextShadow};
  --r-heading1-size: #{$heading1Size};
  --r-heading2-size: #{$heading2Size};
  --r-heading3-size: #{$heading3Size};
  --r-heading4-size: #{$heading4Size};
  --r-code-font: #{$codeFont};
  --r-link-color: #{$linkColor};
  --r-link-color-dark: #{darken($linkColor , 15% )};
  --r-link-color-hover: #{$linkColorHover};
  --r-selection-background-color: #{$selectionBackgroundColor};
  --r-selection-color: #{$selectionColor};
} */
:root {
  --r-heading1-size: 2.25rem;
  --r-heading2-size: 2.25rem;
  --r-background-color: white;
  --r-main-color: #181d37;
  --r-selection-color: #181d37;
  --r-link-color: #bf9055;
  --r-heading-color: #181d37;
  --r-main-font-size: 1.75rem;
  --r-block-margin: 0.75rem;
}
.backgrounds {
     background-color: white;
}
.slide-number-pdf {
    color: #181d37 !important;
    background-color: white !important;
}
.slides div:nth-of-type(1) .slide-number-pdf, #thank-you-for-the-attention + div.slide-number-pdf {
    color: white !important;
    background-color: #181d37 !important;
    display: none;
}
.light-slide-number + div.slide-number-pdf {
    color: white !important;
    background-color: #181d37 !important;
    display: none;
}
#title-slide h1.title {
    color: #BF8F55 !important;
    font-weight: 400;
}
#title-slide p.subtitle {
    color: #BF8F55 !important;
    text-transform: var(--r-heading-text-transform);
    letter-spacing: var(--r-heading-letter-spacing);
}
#title-slide p {
    color: white !important;
}
#title-slide p.date {
    font-size: 1.5rem;
    background-size: auto 100px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
}
.reveal blockquote {
    width: 75% !important;
    margin-left: auto;
    margin-right: auto;
}
#references {
    font-size: 1.15rem;
}
.center-content {
    display: flex;
    align-items: center;
}
.citation {
    color: var(--r-link-color);
}
.background-color-lightblue {
    background: #bee4fd !important;
}
.text-color-primary {
    color: var(--r-heading-color) !important;
}
.text-color-secondary {
    color: var(--r-link-color) !important;
}
.text-color-lightblue {
    color: #bee4fd;
}
.column-title {
    margin: var(--r-heading-margin);
    color: var(--r-heading-color);
    font-family: var(--r-heading-font);
    font-weight: var(--r-heading-font-weight);
    line-height: var(--r-heading-line-height);
    letter-spacing: var(--r-heading-letter-spacing);
    text-transform: var(--r-heading-text-transform);
}
.small-figcaption {
    font-size: 1.25rem;
}
.small-figcaption figure img {
    margin-bottom: 4px;
}
figcaption {
    font-size: smaller;
}
.slide-menu-button {
    top: 30px !important;
}
.column-gapless {
    column-gap: 0 !important;
}
.no-figure-bottom-margin figure img {
    margin-bottom: 0;
}
.no-figure-top-margin img {
    margin-top: 0;
}
.no-margin {
    margin: 0 !important;
}
.border-color-primary {
    border-color: var(--r-main-color);
}
.border-color-secondary {
    border-color: var(--r-link-color) !important;
}
.border-color-lightblue {
    border-color: #bee4fd !important;
}
.svg-invert {
    filter: invert(100%);
}
.wide-quote blockquote {
    width: 100% !important;
    margin: 0;
    padding: 0;
}
.wide-quote blockquote p {
    line-height: 1.2;
}
.column-align-left {
    text-align: left;
}
.pre-width-100 pre {
    width: 100% !important;
}
.pre-width-100 > div {
    margin: 0 !important;
}
.width-100 {
    width: 100% !important;
}
.code-no-max-height .sourceCode {
    max-height: none;
}
.tooltip {
    text-decoration-line: underline;
    text-decoration-color: var(--r-link-color);
    text-decoration-style: dotted;
    cursor: help;
}
.r-overlay-content {
  background: var(--r-background-color);
}
.r-frame {
    border: 2px solid var(--r-main-color) !important;
}
