.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.text-smaller {
    font-size: smaller;
}
.text-small {
    font-size: small;
}
.text-medium {
    font-size: medium;
}
.text-x-small {
    font-size: x-small;
}
.text-larger {
    font-size: larger;
}
.text-size-5 {
    font-size: 5rem;
}
.text-size-4 {
    font-size: 4rem;
}
.text-size-3 {
    font-size: 3rem;
}
.text-size-2 {
    font-size: 2rem;
}
.text-size-1 {
    font-size: 1rem;
}
.mt-8 {
    margin-top: 8rem;
}
.mt-7 {
    margin-top: 7rem;
}
.mt-6 {
    margin-top: 6rem;
}
.mt-5 {
    margin-top: 5rem;
}
.mt-4 {
    margin-top: 4rem;
}
.mt-3 {
    margin-top: 3rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-0 {
    margin-top: 0 !important;
}
.m-0 {
    margin: 0 !important;
}
.ml-1 {
    margin-left: 1rem;
}
.ml-2 {
    margin-left: 2rem;
}
.mr-1 {
    margin-right: 1rem;
}
.mr-2 {
    margin-right: 2rem;
}
.alpha-50 {
    opacity: 0.5;
}
.alpha-100 {
    opacity: 1;
}
.position-absolute {
    position: absolute;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.inline-block {
    display: inline-block;
}
